{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": ".",
    "paths": {
      "~/*": ["./src/*"]
    },
    "target": "esnext"
  },
  "module": {
    "type": "commonjs"
  }
}
